* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
 list-style: none;
}

button {
  border: none;
}

:root {
  font-size: 62.5%;

  --primary-color: #69B99D;
  --second-color: #CCF4E6;
  --dark-color: #0F241D;
  --gray: #767676;
  --light-gray: #E4E4E4;
  --background-1: #F9F9F9;
  --background-2: #FFF;

}

.page {
  max-width: 140rem;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
}

nav {
  font-size: 1.6rem;
  padding: 0 12.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
}

ul {
  display: flex;

  gap: 3.2rem;
}

ul li {
  padding: 2.6rem 0;
}

ul li a {
  color: var(--gray);
  position: relative;
}


ul li a:hover {
  color: var(--primary-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);

  position: absolute;
  left: 0;
  bottom: -2.6rem;

  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

main {
  padding: 5rem 12.4rem;
}

.title h1 {
  font-family: 'Poppins', sans-serif;
  width: 35.7rem;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.4rem;
}

.title p {
  width: 35.7rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin: 1.2rem 0 2.4rem 0;
}

.title button {
  padding: 1.4rem 3.2rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.title button a {
  color: var(--background-1);
}
